.topbar-wrapper{
  width:100%;
  padding:8px;
  background:white;
}

.announcement-bar{
  height:46px;
  background:#B8FFE7;

  border-radius:999px;
  border:1px solid rgba(0,0,0,0.08);

  overflow:hidden;

  display:flex;
  align-items:center;
  justify-content:center;

  cursor:pointer;

  transition:
    border-radius 0.35s cubic-bezier(0.76, 0, 0.24, 1),
    transform 0.3s ease;
}

.announcement-bar:hover{
  border-radius:16px;

  transform:scale(0.995);
}

.announcement-inner{
  position:relative;
  height:20px;
  overflow:hidden;
}

.announcement-text{
  display:flex;
  align-items:center;
  justify-content:center;

  font-size:13px;
  font-weight:600;
  color:black;

  transition:transform 0.45s cubic-bezier(0.76, 0, 0.24, 1);
}

.announcement-first{
  transform:translateY(0%);
}

.announcement-second{
  position:absolute;
  left:0;
  top:100%;
  width:100%;
}

.announcement-bar:hover .announcement-first{
  transform:translateY(-140%);
}

.announcement-bar:hover .announcement-second{
  transform:translateY(-100%);
}